*
{
    font-family: Calibri, Arial,sans-serif;
    color: rgb(7, 0, 1);
}
div
{
    text-align: center;
    padding:5px;
    background-color: lightskyblue;
}
th,td
{
    text-align: center;
    background-color: lightgreen;
}