*
{
    font-family: Calibri, Arial,sans-serif;
    background-color:bisque;
}
div
{
    text-align: center;
    padding:5px;
    background-color: lightskyblue;
    color: white;
}
th,td
{
    text-align: center;
    padding: 10px;
    background-color: lightgreen;
    color: black;
}
img
{
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 10px;
}
h1, p
{
    background-color: inherit;
}